<h1>Tasks to do</h1>
  <ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "DLT", task_path(task), method: :delete %>
      </li>
  <% end %>
  </ul>

<h3><%= link_to "+ Add a new task", task_path("new") %></h3>
